<footer *ngIf="showFooter" style="background-color: #9eb9d3; color: #ffffff; padding: 20px 0;">
  <div class="container" style="max-width: 900px; margin: 0 auto;">
    <div class="d-flex flex-column px-0">
      <ul class="d-flex align-items-center justify-content-center">
      </ul>
      <div class="d-flex justify-content-center align-items-center gap-1">
        <hr>
        <figure>
          <a href="index-2.html">
            <img src="assets/images/logo/logo1.png" alt="logo">
          </a>
        </figure>
        <hr>
      </div>
      <div class="d-flex justify-content-center gap-lg-4">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
    </div>
    <div class="row pt-md-4"> <!-- réduit padding top -->
      <div class="col-lg-4 col-md-4">
        <div class="d-flex flex-column gap-3 text-center pt-md-2"> <!-- réduit gap et padding -->
          <h5>CONTACT US</h5>
          <div class="d-flex flex-column gap-1">
            <a href="#">(+216) 55259974</a>
            <a href="#"><span class="__cf_email__" data-cfemail="7c1f0e1d0a190f081d053c19040c111d1019521f1311">contact@dealdynamo.com</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="d-flex flex-column gap-3 gap-2 text-center pt-md-2 m-0"> <!-- réduit gap et padding -->
          <h5>OUR LOCATION</h5>
          <a href="#">Ariana, Tunisia</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="d-flex flex-column gap-3 gap-2 text-center pt-md-2"> <!-- réduit gap et padding -->
          <h5>SUPPORT HOURS</h5>
          <div class="d-flex flex-column align-items-center text-center gap-1">
            <p class="d-flex align-items-center gap-1">Mon <i class="fa-solid fa-minus"></i> Thu: 10 am <i class="fa-solid fa-minus"></i> 08 pm</p>
            <p class="d-flex align-items-center gap-1">Fri <i class="fa-solid fa-minus"></i> Sun: 11 am <i class="fa-solid fa-minus"></i> 09 pm</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="back-to-top" style="position: fixed; bottom: 80px; right: 20px;">
    <i class="fa fa-arrow-up"></i>
  </button>
</footer>
