

<!-- SECTION IMAGE CERCLE + TEXTE -->
<section class="flex flex-col md:flex-row items-center justify-center w-full px-8 md:px-24 py-20 gap-16 bg-[#edf4f8] animate-fadeIn">
   <br><br />
  <!-- Image en rectangle -->
 <!-- Image un peu plus basse que le texte -->
<div class="flex justify-center mt-8 md:mt-16">
  <img src="assets/images/aboutus/team1.jpg" 
       alt="Bannière" 
       class="w-[600px] h-[400px] object-cover shadow-2xl rounded-md">
</div>


  <!-- Texte -->
  <div class="text-center md:text-left space-y-6">
    <h2 class="text-4xl md:text-5xl font-bold text-[#920821]">
      Meet the Pioneers Team
    </h2>
    <p class="text-gray-700 text-lg max-w-md">
       Pioneers is a passionate and dynamic team united by a shared vision: to innovate, simplify, and connect opportunities with your needs. We’re here to help you save time and money through smart and efficient solutions.
    </p>
    
  </div>

</section>

  <!-- SECTION MEMBRES D'ÉQUIPE -->
  <section class="py-20 px-8 md:px-24 bg-[#edf4f8]">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16">
      <!-- Membre 1 -->
      <div class="flex flex-col items-center transform transition-transform hover:scale-105">
        <img src="assets/images/aboutus/Nour.jpg" alt="Membre 1" class="w-48 h-48 object-cover rounded-full shadow-md mb-6 hover:scale-110 transition-transform">
        <h3 class="text-2xl font-semibold text-black">Nour Boukhris</h3>
        <p class="text-gray-500 text-sm"> Web developer </p>
      </div>
  
      <!-- Membre 2 -->
      <div class="flex flex-col items-center transform transition-transform hover:scale-105">
        <img src="assets/images/aboutus/NB.jpg" alt="Membre 2" class="w-48 h-48 object-cover rounded-full shadow-md mb-6 hover:scale-110 transition-transform">
        <h3 class="text-2xl font-semibold text-black">Nour Ben Abid</h3>
        <p class="text-gray-500 text-sm">Data Scientist</p>
      </div>
  
      <!-- Membre 3 -->
      <div class="flex flex-col items-center transform transition-transform hover:scale-105">
        <img src="assets/images/aboutus/Roua.jpg" alt="Membre 3" class="w-48 h-48 object-cover rounded-full shadow-md mb-6 hover:scale-110 transition-transform">
        <h3 class="text-2xl font-semibold text-black">Roua Mtar</h3>
        <p class="text-gray-500 text-sm">Project Manager</p>
      </div>
  
      <!-- Membre 4 -->
      <div class="flex flex-col items-center transform transition-transform hover:scale-105">
        <img src="assets/images/aboutus/Asma.jpg" alt="Membre 4" class="w-48 h-48 object-cover rounded-full shadow-md mb-6 hover:scale-110 transition-transform">
        <h3 class="text-2xl font-semibold text-black">Assma Hajbi</h3>
        <p class="text-gray-500 text-sm">Digital Marketing Specialist</p>
      </div>
  
      <!-- Membre 5 -->
      <div class="flex flex-col items-center transform transition-transform hover:scale-105">
        <img src="assets/images/aboutus/Erij.jpg" alt="Membre 5" class="w-48 h-48 object-cover rounded-full shadow-md mb-6 hover:scale-110 transition-transform">
        <h3 class="text-2xl font-semibold text-black">Erij Triaa</h3>
        <p class="text-gray-500 text-sm">Data Analyst</p>
      </div>
  
      <!-- Membre 6 -->
      <div class="flex flex-col items-center transform transition-transform hover:scale-105">
        <img src="assets/images/aboutus/aziz.jpg" alt="Membre 6" class="w-48 h-48 object-cover rounded-full shadow-md mb-6 hover:scale-110 transition-transform">
        <h3 class="text-2xl font-semibold text-black">Mohamed Aziz Ben Ajmia</h3>
        <p class="text-gray-500 text-sm">Customer Support Specialist</p>
      </div>
    </div>
    
  </section>
<!-- SECTION OUR VALUES ENTIÈREMENT EN DEHORS POUR PRENDRE TOUTE LA LARGEUR -->
<section class="min-h-[60vh] bg-cover bg-center flex flex-col justify-center items-center" style="background-image: url('assets/images/home/S.png');">
  <div class="bg-white/80 p-8 rounded-xl text-center shadow-lg w-[90%] max-w-6xl mx-auto">
    <h1 class="text-5xl md:text-6xl font-bold text-[#507fae] mb-4 tracking-wide">
      Aligned with the SDGs 
    </h1>
    <p class="text-gray-700 text-lg md:text-xl mb-6">
    Our commitment to sustainability drives our actions. Discover how our project contributes to the Sustainable Development Goals.
  </div>
</section>
<!-- GRILLE DES SDGs -->
<section class="bg-white px-8 md:px-24 py-16">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-12">
    
    <!-- ODD 9 -->
    <div class="flex flex-col items-center text-center">
      <img src="assets/images/aboutus/odd90.png" alt="ODD 12" class="w-40 h-40 object-contain mb-4">
<h2 class="text-1xl md:text-1xl font-bold text-[#920821]">
      Industry, Innovation and Infrastructure
    </h2>       <p class="text-gray-600 text-sm mt-2 max-w-xs">
       By building a tech-powered price comparison platform, we foster innovation and digital infrastructure that benefits both businesses and consumers.
      </p>
    </div>
    <div class="flex flex-col items-center text-center">
      <img src="assets/images/aboutus/img.jpg" alt="ODD 9" class="w-40 h-40 object-contain mb-4">
 <h2 class="text-1xl md:text-1xl font-bold text-[#920821]">
      Decent Work and Economic Growth
    </h2>      <p class="text-gray-600 text-sm mt-2 max-w-xs">
       By building a tech-powered price comparison platform, we foster innovation and digital infrastructure that benefits both businesses and consumers.
      </p>
    </div>
     <div class="flex flex-col items-center text-center">
      <img src="assets/images/aboutus/12.png" alt="ODD 12" class="w-40 h-40 object-contain mb-4">
      <h2 class="text-1xl md:text-1xl font-bold text-[#920821]">
    Responsible Consumption and Production
      </h2>
      <p class="text-gray-600 text-sm mt-2 max-w-xs">
        Our platform promotes responsible consumption by helping users make informed choices, reducing waste, and encouraging sustainable practices.
      </p>
  
    </div>
     <div class="flex flex-col items-center text-center">
      <img src="assets/images/aboutus/11.jpg" alt="ODD 12" class="w-40 h-40 object-contain mb-4">
<h2 class="text-1xl md:text-1xl font-bold text-[#920821]">
      Sustainable Cities and Communities
    </h2>      <p class="text-gray-600 text-sm mt-2 max-w-xs">
    By empowering citizens with accurate market data, our platform fosters smarter mobility, travel planning, and local consumption—supporting more sustainable communities.
      </p>
    </div>
      <!-- ODD 2 -->
  <div class="flex flex-col items-center text-center">
      <img src="assets/images/aboutus/2.jpg" alt="ODD 2" class="w-40 h-40 object-contain mb-4">
<h2 class="text-1xl md:text-1xl font-bold text-[#920821]">
      Zero hunger
    </h2>       <p class="text-gray-600 text-sm mt-2 max-w-xs">
        Our platform helps households make cost-effective food choices by comparing grocery prices, contributing to food security and better nutrition for all.
      </p>
    </div>
    <!-- ODD 3 -->
<div class="flex flex-col items-center text-center">
  <img src="assets/images/aboutus/odd3.png" alt="ODD 3" class="w-40 h-40 object-contain mb-4">
<h2 class="text-1xl md:text-1xl font-bold text-[#920821]">
      Good Health and Well-being
    </h2>  <p class="text-gray-600 text-sm mt-2 max-w-xs">
    By enabling families to compare travel and food options affordably, our platform contributes to healthier living conditions and informed wellness choices.
  </p>
</div>
    <!-- ODD 10-->
<div class="flex flex-col items-center text-center">
  <img src="assets/images/aboutus/10.jpg" alt="ODD 3" class="w-40 h-40 object-contain mb-4">
<h2 class="text-1xl md:text-1xl font-bold text-[#920821]">
      Reduced Inequalities
    </h2>  <p class="text-gray-600 text-sm mt-2 max-w-xs">
    Our platform makes travel more accessible to everyone by comparing the best prices for various budgets, reducing inequalities in access to tourism.  </p>
</div>
    <!-- ODD 17-->
         <!-- ODD 10-->
<div class="flex flex-col items-center text-center">
  <img src="assets/images/aboutus/17.jpg" alt="ODD 3" class="w-40 h-40 object-contain mb-4">
<h2 class="text-1xl md:text-1xl font-bold text-[#920821]">
      Partnerships for the Goals
    </h2>  <p class="text-gray-600 text-sm mt-2 max-w-xs">
    Through collaboration with local travel agencies and booking platforms, we foster inclusive growth and sustainable tourism innovation.
</div>
<div class="flex flex-col items-center text-center">
  <img src="assets/images/aboutus/16.jpg" alt="ODD 3" class="w-40 h-40 object-contain mb-4">
<h2 class="text-1xl md:text-1xl font-bold text-[#920821]">
      Peace, Justice and Strong Institutions
    </h2>  <p class="text-gray-600 text-sm mt-2 max-w-xs">
Our platform promotes transparency in travel and tourism pricing, reducing risks of abuse, fraud, and inequality. By providing reliable data, we strengthen user trust in institutions and service providers.</div>




    <!-- Autres ODD à ajouter ici -->

  </div>
</section>


  