

<!-- Contenu principal avec background -->
<div class="flex items-center justify-center h-screen bg-cover bg-center pt-24" style="background-image: url('assets/images/dashboard/bag.jpg');">
  <!-- Formulaire centré -->
  <div class="container z-10">
    <div class="heading">Sign In</div>
    <form class="form" (ngSubmit)="onLoginSubmit()">
      <input placeholder="E-mail" id="email" name="email" type="email" class="input" [(ngModel)]="email" required />
      <input placeholder="Password" id="password" name="password" type="password" class="input" [(ngModel)]="password" required />
      <span class="forgot-password"><a href="#">Forgot Password ?</a></span>
      <input value="Sign In" type="submit" class="login-button" />
    </form>

    <div class="social-account-container">
      <span class="title">Or Sign in with</span>
      <div class="social-accounts">
        <!-- ... -->
      </div>
    </div>
    <span class="agreement"><a href="#">Learn user licence agreement</a></span>
  </div>
</div>
