<div class="flex h-screen">
  <!-- SIDEBAR -->
  <aside class="w-96 bg-[#4f759b] text-white p-6 space-y-8">
    <!-- Logo -->
    <div class="text-3xl  font-bold tracking-wide ml-12">
    <span style="color: #d2a037;">Deal</span><span style="color: #3c5489;">Dynamo</span>
    </div>
        <!-- Home Button -->
<div class="mt-6">
  <button 
    routerLink="/"
            class="flex items-center gap-4 w-full text-left px-5 py-3 rounded-lg bg-gradient-to-r from-[#6d8fa3] to-[#4f759b] hover:from-[#4f759b] hover:to-[#6d8fa3] text-white font-semibold shadow-lg transition-all duration-300 transform hover:scale-105"
  >
    <i class="bi bi-house-door text-xl"></i>
    <span>Home</span>
  </button>
</div>

    <!-- Dashboard Section -->
    <div>
      <div class="text-sm uppercase text-blue-100 mb-4 font-medium tracking-wider">Dashboard</div>
      <ul class="space-y-3">
        <li>
          <button 
            (click)="showPowerBIView()"
            class="flex items-center gap-4 w-full text-left px-5 py-3 rounded-lg bg-gradient-to-r from-[#6d8fa3] to-[#4f759b] hover:from-[#4f759b] hover:to-[#6d8fa3] text-white font-semibold shadow-lg transition-all duration-300 transform hover:scale-105"
          >
            <i class="bi bi-graph-up-arrow text-xl"></i>
            <span>Dashboard</span>
          </button>
        </li>
      </ul>
    </div>

    <!-- Prediction Section -->
  
  </aside>

  <!-- MAIN CONTENT -->
  <main class="flex-1 p-0">
    <div class="mt-4 h-[900px]">
       <iframe
        *ngIf="showPowerBI"
        width="90%"
        height="90%"
        [src]="powerBIUrl"
        frameborder="0"
        allowfullscreen
        class="w-full h-[calc(100vh-5rem)]"
      ></iframe>
    </div>
  </main>
</div>